<div class="client">
    <div class="client-section">
        <div class="client-sliders">
            <div class="client-slide">
                <div class="client-slide-flex">
                    <img src="/assets/images/three-1.png" alt="three" class="client-image">
                    <div class="client-area-text">
                        <p class="client-text">“Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="client-bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
            <div class="client-slide">
                <div class="client-slide-flex">
                    <img src="/assets/images/three-2.png" alt="three" class="client-image">
                    <div class="client-area-text">
                        <p class="client-text">“2 Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="client-bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
            <div class="client-slide">
                <div class="client-slide-flex">
                    <img src="/assets/images/three-3.png" alt="three" class="client-image">
                    <div class="client-area-text">
                        <p class="client-text">“3 Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="client-bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
            <div class="client-slide">
                <div class="client-slide-flex">
                    <img src="/assets/images/three-4.png" alt="three" class="client-image">
                    <div class="client-area-text">
                        <p class="client-text">“4 Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="client-bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
            <div class="client-slide">
                <div class="client-slide-flex">
                    <img src="/assets/images/three-5.png" alt="three" class="client-image">
                    <div class="client-area-text">
                        <p class="client-text">“5 Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="client-bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>