<div class="cybersecurity">
    <div class="cybersecurity__section">
        <h2 class="cybersecurity__page-title">Cybersecurity Essentials</h2>
        <div class="cybersecurity__left">
            <div class="cybersecurity__area">
                <div class="cybersecurity__area-text">
                    <p class="cybersecurity__sub-tittle">System Patching</p>
                    <p class="cybersecurity__text">There’s nothing hackers love more than a dismissed update reminder. We keep your team’s computers in shape and up-to-date.</p>
                </div>
                <img src="/assets/images/cybersecurity-1.png" alt="cybersecurity-1" class="cybersecurity__image-one">
            </div>
            <div class="cybersecurity__area">
                <div class="cybersecurity__area-text">
                    <p class="cybersecurity__sub-tittle">Empowering Teams</p>
                    <p class="cybersecurity__text">With 43% of breaches involving social attacks, cybersecurity is a team sport. We get your employees up to speed.</p>
                </div>
                <img src="/assets/images/cybersecurity-2.png" alt="cybersecurity-2" class="cybersecurity__image-two">
            </div>
        </div>
        <div class="cybersecurity__right">
            <div class="cybersecurity__area">
                <div class="cybersecurity__area-text">
                    <p class="cybersecurity__sub-tittle">End-to-End Protection</p>
                    <p class="cybersecurity__text">51% of breaches involved malware that infects endpoints. We cover your bases.</p>
                </div>
                <img src="/assets/images/cybersecurity-3.png" alt="cybersecurity-3" class="cybersecurity__image-three">
            </div>
            <div class="cybersecurity__area">
                <div class="cybersecurity__area-text">
                    <p class="cybersecurity__sub-tittle">Secure Credentials</p>
                    <p class="cybersecurity__text">81% of attacks involve stolen or weak credentials. </p>
                </div>
                <img src="/assets/images/cybersecurity-4.png" alt="cybersecurity-4" class="cybersecurity__image-four">
            </div>
        </div>
    </div>
</div>