<div class="cybersecurity">
    <h2 class="cybersecurity-page-title">Cybersecurity Essentials</h2>
    <div class="cybersecurity-section">
            <div class="cybersecurity-area">
                <div class="cybersecurity-area-text">
                    <h5 class="cybersecurity-sub-tittle">System Patching</h5>
                    <p class="cybersecurity-text">There’s nothing hackers love more than a dismissed update reminder. We keep your team’s computers in shape and up-to-date.</p>
                </div>
                <img src="/assets/images/cybersecurity-1.png" alt="cybersecurity-1" class="cybersecurity-image">
            </div>
            <div class="cybersecurity-area">
                <div class="cybersecurity-area-text">
                    <h5 class="cybersecurity-sub-tittle">End-to-End Protection</h5>
                    <p class="cybersecurity-text">51% of breaches involved malware that infects endpoints. We cover your bases.</p>
                </div>
                <img src="/assets/images/cybersecurity-2.png" alt="cybersecurity-2" class="cybersecurity-image">
            </div>
            <div class="cybersecurity-area">
                <div class="cybersecurity-area-text">
                    <h5 class="cybersecurity-sub-tittle">Empowering Teams</h5>
                    <p class="cybersecurity-text">With 43% of breaches involving social attacks, cybersecurity is a team sport. We get your employees up to speed.</p>
                </div>
                <img src="/assets/images/cybersecurity-3.png" alt="cybersecurity-3" class="cybersecurity-image">
            </div>
            <div class="cybersecurity-area">
                <div class="cybersecurity-area-text">
                    <h5 class="cybersecurity-sub-tittle">Secure Credentials</h5>
                    <p class="cybersecurity-text">81% of attacks involve stolen or weak credentials. </p>
                </div>
                <img src="/assets/images/cybersecurity-4.png" alt="cybersecurity-4" class="cybersecurity-image">
            </div>
    </div>
</div>