<header class="header">
    <div class="header-section-text">
                <a href="#" class="header-logo"><img class="header-logo-img" src="/assets/images/logo.png" alt="Logo"></a>
                <nav class="header-mobile-menu">
                    <input type="checkbox" id="checkbox" class="header-mobile-menu-checkbox">
                    <label for="checkbox" class="header-mobile-menu-btn"><div class="header-mobile-menu-icon"></div></label>
                    <div class="header-mobile-menu-container">
                        <ul class="header-mobile-menu-list">
                            <li class="header-mobile-menu-item"><a href="#" class="header-nav-link">WHY SKOUT</a></li>
                            <li class="header-mobile-menu-item"><a href="#" class="header-nav-link">PRODUCTS</a></li>
                            <li class="header-mobile-menu-item"><a href="#" class="header-nav-link">PARTNERS</a></li>
                            <li class="header-mobile-menu-item"><a href="#" class="header-nav-link">TIPS&TOOLS</a></li>
                            <li class="header-mobile-menu-item"><a href="#" class="header-nav-link">BLOG</a></li>
                        </ul>
                        <div class="header-btn">
                            <button class="header-btn-one">GET SKOUT</button>
                            <button class="header-btn-two">LOG IN</button>
                        </div>
                    </div>
                </nav>
    </div>
    <h1 class="header-page-title">Find trouble before trouble finds you.</h1>
    <div class="header-group-area">
        <div class="header-group-around-text">
            <p class="header-group-text">
                SKOUT is a cybersecurity company that delivers total protection for total peace of mind. Whether you’re an international conglomerate or a mom-and-pop shop we make cybersecurity easy and accessible because we believe security is universal and peace of mind is worth protecting.
            </p>
        </div>
        <button class="header-group-button">Why SKOUT</button>
    </div>
</header>