<div class="header-bottom">
    <h1 class="header-bottom-page-title">Find trouble before trouble finds you.</h1>
    <div class="header-bottom-group-area">
        <div class="header-bottom-group-around-text">
            <p class="header-bottom-group-text">
                SKOUT is a cybersecurity company that delivers total protection for total peace of mind. Whether you’re an international conglomerate or a mom-and-pop shop we make cybersecurity easy and accessible because we believe security is universal and peace of mind is worth protecting.
            </p>
        </div>
        <button class="header-bottom-group-button">Why SKOUT</button>
</div>