<div class="plans">
    <div class="plans__section">
        <h3 class="plans__page-title">SKOUT Plans</h3>
        <div class="plans__slider" id="plans">
            <div class="plans__slider-elements">
                <p class="plans__sub-title">Bronze</p>
                <ul class="plans__area-text">
                    <li class="plans__active"><i class="far fa-check-circle plans__active-image"></i>Security Training</li>
                    <li class="plans__active"><i class="far fa-check-circle plans__active-image"></i>Email</li>
                    <li class="plans__no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans__no-active-image">Endpoint</li>
                    <li class="plans__no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans__no-active-image">Monitoring</li>
                    <li class="plans__no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans__no-active-image">Annual Pro Services</li>
                </ul>
                <button class="plans__btn">Request a Quote</button>
            </div>
            <div class="plans__slider-elements">
                <p class="plans__sub-title">Silver</p>
                <ul class="plans__area-text">
                    <li class="plans__active"><i class="far fa-check-circle plans__active-image"></i>Security Training</li>
                    <li class="plans__active"><i class="far fa-check-circle plans__active-image"></i>Email</li>
                    <li class="plans__active"><i class="far fa-check-circle plans__active-image"></i>Endpoint</li>
                    <li class="plans__no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans__no-active-image">Monitoring</li>
                    <li class="plans__no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans__no-active-image">Annual Pro Services</li>
                </ul>
                <button class="plans__btn">Request a Quote</button>
            </div>
            <div class="plans__slider-elements">
                <p class="plans__sub-title">Gold</p>
                <ul class="plans__area-text">
                    <li class="plans__active"><i class="far fa-check-circle plans__active-image"></i>Security Training</li>
                    <li class="plans__active"><i class="far fa-check-circle plans__active-image"></i>Email</li>
                    <li class="plans__active"><i class="far fa-check-circle plans__active-image"></i>Endpoint</li>
                    <li class="plans__active"><i class="far fa-check-circle plans__active-image"></i>Monitoring</li>
                    <li class="plans__no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans__no-active-image">Annual Pro Services</li>
                </ul>
                <button class="plans__btn">Request a Quote</button>
            </div>
            <div class="plans__slider-elements pro-bg">
                <p class="plans__sub-title pro">Plus</p>
                <ul class="plans__area-text pro">
                    <li class="plans__active pro"><i class="far fa-check-circle plans__active-image pro"></i>Security Training</li>
                    <li class="plans__active pro"><i class="far fa-check-circle plans__active-image pro"></i>Email</li>
                    <li class="plans__active pro"><i class="far fa-check-circle plans__active-image pro"></i>Endpoint</li>
                    <li class="plans__active pro"><i class="far fa-check-circle plans__active-image pro"></i>Monitoring</li>
                    <li class="plans__active pro"><i class="far fa-check-circle plans__active-image pro"></i>Annual Pro Services</li>
                </ul>
                <button class="plans__btn pro-btn">Request a Quote</button>
            </div>
    </div>
</div>