<div class="plans">
    <div class="plans-section">
        <h3 class="plans-page-title">SKOUT Plans</h3>
        <div class="plans-slider" id="plans">
            <div class="plans-slider-elements">
                <p class="plans-sub-title">Bronze</p>
                <ul class="plans-area-text">
                    <li class="plans-active"><i class="far fa-check-circle plans-active-image"></i>Security Training</li>
                    <li class="plans-active"><i class="far fa-check-circle plans-active-image"></i>Email</li>
                    <li class="plans-no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans-no-active-image">Endpoint</li>
                    <li class="plans-no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans-no-active-image">Monitoring</li>
                    <li class="plans-no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans-no-active-image">Annual Pro Services</li>
                </ul>
                <button class="plans-btn">Request a Quote</button>
            </div>
            <div class="plans-slider-elements">
                <h4 class="plans-sub-title">Silver</h4>
                <ul class="plans-area-text">
                    <li class="plans-active"><i class="far fa-check-circle plans-active-image"></i>Security Training</li>
                    <li class="plans-active"><i class="far fa-check-circle plans-active-image"></i>Email</li>
                    <li class="plans-active"><i class="far fa-check-circle plans-active-image"></i>Endpoint</li>
                    <li class="plans-no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans-no-active-image">Monitoring</li>
                    <li class="plans-no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans-no-active-image">Annual Pro Services</li>
                </ul>
                <button class="plans-btn">Request a Quote</button>
            </div>
            <div class="plans-slider-elements">
                <p class="plans-sub-title">Gold</p>
                <ul class="plans-area-text">
                    <li class="plans-active"><i class="far fa-check-circle plans-active-image"></i>Security Training</li>
                    <li class="plans-active"><i class="far fa-check-circle plans-active-image"></i>Email</li>
                    <li class="plans-active"><i class="far fa-check-circle plans-active-image"></i>Endpoint</li>
                    <li class="plans-active"><i class="far fa-check-circle plans-active-image"></i>Monitoring</li>
                    <li class="plans-no-active"><img src="/assets/images/plans-minus.png" alt="plans-minus" class="plans-no-active-image">Annual Pro Services</li>
                </ul>
                <button class="plans-btn">Request a Quote</button>
            </div>
            <div class="plans-slider-elements pro-bg">
                <p class="plans-sub-title pro">Plus</p>
                <ul class="plans-area-text pro">
                    <li class="plans-active pro"><i class="far fa-check-circle plans-active-image pro"></i>Security Training</li>
                    <li class="plans-active pro"><i class="far fa-check-circle plans-active-image pro"></i>Email</li>
                    <li class="plans-active pro"><i class="far fa-check-circle plans-active-image pro"></i>Endpoint</li>
                    <li class="plans-active pro"><i class="far fa-check-circle plans-active-image pro"></i>Monitoring</li>
                    <li class="plans-active pro"><i class="far fa-check-circle plans-active-image pro"></i>Annual Pro Services</li>
                </ul>
                <button class="plans-btn pro-btn">Request a Quote</button>
            </div>
    </div>
</div>