<div class="questions">
    <div class="questions__section">
        <div  class="questions__area-text">
            <h3 class="questions__sub-tittle">Still have questions? Reach out today.</h3>
            <p  class="questions__text">Whether you’re a potential management service provider or a business owner looking for a little extra peace of mind, our representatives are standing by to answer any questions and walk you through the benefits of partnering with us.</p>
        </div>
        <img src="/assets/images/questions.png" alt="questions" class="questions__image">
        </div>
        <div class="questions__position-absolute">
            <div class="questions__position-area">
                <p class="questions__position-sub-text">Ready to learn more?</p>
                <div class="questions__position-line"></div>
                <button class="questions__position-btn">Get in Touch<img src="/assets/images/questions-right.png" alt="questions-right" class="questions__image-right"></button>
            </div>
            <div class="questions__position-area">
                <p class="questions__position-sub-text">Are you a MSP?</p>
                <div class="questions__position-line"></div>
                <button class="questions__position-btn">Become a Partner<img src="/assets/images/questions-right.png" alt="questions-right" class="questions__image-right"></button>
            </div>
        </div>
    </div>
</div>