<div class="security-top-content">
    <div class="security-top-content-section">
        <img src="/assets/images/what-is-skout.png" alt="security-top-content-is-skout" class="security-top-content-image">
        <div class="security-top-content-area">
            <p class="security-top-content-sub-title">What is SKOUT?</p>
            <p class="security-top-content-text">A cybersecurity platform that offers world-class protection, monitoring everything from emails to endpoints. With a team of security experts from both the public and private sectors, our cloud-native streaming data analytics platform offers total peace of mind to businesses of any size.</p>
            <div class="security-top-content-area-btn">
                <button class="security-top-content-btn-one">Learn more</button>
                <button class="security-top-content-btn-two">Explore Products</button>
            </div>
        </div>
    </div>
</div>