<div class="three">
    <div class="three__section">
        <div class="three__sliders">
            <div class="three__slide">
                <div class="three__slide-flex">
                    <img src="/assets/images/three-1.png" alt="three" class="three__image">
                    <div class="three__area-text">
                        <p class="three__text">“Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="three__bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
            <div class="three__slide">
                <div class="three__slide-flex">
                    <img src="/assets/images/three-2.png" alt="three" class="three__image">
                    <div class="three__area-text">
                        <p class="three__text">“2 Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="three__bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
            <div class="three__slide">
                <div class="three__slide-flex">
                    <img src="/assets/images/three-3.png" alt="three" class="three__image">
                    <div class="three__area-text">
                        <p class="three__text">“3 Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="three__bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
            <div class="three__slide">
                <div class="three__slide-flex">
                    <img src="/assets/images/three-4.png" alt="three" class="three__image">
                    <div class="three__area-text">
                        <p class="three__text">“4 Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="three__bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
            <div class="three__slide">
                <div class="three__slide-flex">
                    <img src="/assets/images/three-5.png" alt="three" class="three__image">
                    <div class="three__area-text">
                        <p class="three__text">“5 Skout helped us bring our security and operations forward dramatically by being so responsive and detail-oriented. The whole team is really great to work with.”</p>
                        <p class="three__bottom-text">— Yoni Rechtman</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>