<div class="what">
    <div class="what__section">
        <img src="/assets/images/what-is-skout.png" alt="what-is-skout" class="what__image">
        <div class="what__area">
            <p class="what__sub-title">What is SKOUT?</p>
            <p class="what__text">A cybersecurity platform that offers world-class protection, monitoring everything from emails to endpoints. With a team of security experts from both the public and private sectors, our cloud-native streaming data analytics platform offers total peace of mind to businesses of any size.</p>
            <div class="what__area-btn">
                <button class="what__btn-one">Learn more</button>
                <button class="what__btn-two">Explore Products</button>
            </div>
        </div>
    </div>
</div>