*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
button {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

button{
  font-size: $font-size-small-standart-text;
}

a,
p,
h1,
li{
  font-weight: 400;
}

a,
p,
li{
  font-family: $color-standart-text;
}

h1{
  font-family: $font-sub-title;
}

input:active,
:hover {
  outline: 0;
  outline-offset: 0;
}
