.footer {
  background-color: #F2F2F2;
  &-section {
    min-width: 375px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-left {
    min-width: 375px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
  &-left-link {
    font-size: $font-size-button-and-standart-text;
    color: $color-footer-text;
  }
  &-left-link-phone{
    color: $color-footer-text;
    margin-bottom: 20px;
  }
  &-right {
    min-width: 375px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-right-one {
    min-width: 375px;
    width: 100%;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1.5px solid $color-button-hr;
    padding: 0 20px;
  }
  &-right-city {
    min-width: 150px;
    width: 100%;
    font-size: $font-size-up-standart-text;
    margin: 10 0 0 0;
    color: $color-footer-text;
  }
  &-right-phone {
    font-size: $font-size-up-standart-text;
    color: $color-footer-text;
  }
  &-right-link-phone{
    font-size: $font-size-up-standart-text;
    color: $color-footer-text;
  }
  &-right-address {
    min-width: 150px;
    width: 100%;
    height: 40px;
    font-size: $font-size-button-and-standart-text;
    margin: 10px 0 0 0;
    color: $color-footer-text;
  }
  &-right-map {
    font-size: $font-size-button-and-standart-text;
  }
  &-right-map-link {
    font-size: $font-size-button-and-standart-text;
    color: $color-button-hr;
    box-shadow: none;
  }
  &-right-two {
    min-width: 375px;
    width: 100%;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border-top: 1.5px solid $color-button-hr;
    padding: 0 20px;
  }
  &-right-three {
    min-width: 335px;
    width: 100%;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    border-top: 1.5px solid $color-button-hr;
    padding: 0 20px;
  }
  &-footer {
    min-width: 375px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    border-top: 1.5px solid $color-footer-border;
  }
  &-soc {
    min-width: 270px;
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: space-between;
  }
  &-soc-icon{
    color: $color-footer-text;
  }
  &-footer-logo{
    width: 105px;
    height: 38px;
  }
  &-footer-logo-img{
    width: 105px;
    height: 38px;
  }
}
@media (min-width: $screen-desktop){
  .footer {
    padding-top: 68px;
    margin: 0 auto 0;
    &-section {
      max-width: 1172px;
      width: 100%;
      height: 386px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0 auto 0;
    }
    &-left {
     width: 200px;
     height: 314px;
    }
    &-lef-li {
      width: 200px;
      height: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
    &-left-link {
      font-size: $font-size-button-and-standart-text;
      color:$color-footer-text;
    }
    &-lef-li-phone {
      width: 200px;
      height: 24px;
      display: flex;
      align-items: center;
      margin-top: -30px;
    }
    &-left-link-phone {
      font-size: $font-size-button-and-standart-text;
      color:$color-footer-text; 
    }
    &-right{
      max-width: 931px;
      width: 100%;
      height: 335px;
    }
    &-right-one {
      max-width: 931px;
      width: 100%;
      height: 68px;
      display: flex;
      flex-direction: row;
      border-top: 1.5px solid $color-button-hr;
      margin-bottom: 50px;
    }
    &-right-two {
      max-width: 931px;
      width: 100%;
      height: 70px;
      margin-bottom: 54px;
      display: flex;
      flex-direction: row;
      border-top: 1.5px solid $color-button-hr;
    }
    &-right-three {
      max-width: 931px;
      width: 100%;
      height: 93px;
      margin-bottom: 51px;
      display: flex;
      flex-direction: row;
      border-top: 1.5px solid $color-button-hr;
    }
    &-right-city {
      max-width: 300px;
      width: 100%;
      height: 52px;
      font-size: $font-size-small-midlle-text;
      color: $color-footer-text;
      margin-top: 10px;
      margin-right: 30px;
    }
    &-right-phone {
      margin-top: 18px;
      max-width: 170px;
      width: 100%;
      height: 24px;
      margin-right: 30px;
    }
    &-right-link-phone {
      color: $color-footer-text;
    }
    &__right-address {
      margin-top: 18px;
      max-width: 270px;
      width: 100%;
      height: 52px;
      margin-right: 30px;
      color: $color-footer-text;
    }
    &-right-map {
      margin-top: 18px;
      width: 110px;
      height: 24px;
      
    }
    &-right-map-link {
      color: $color-button-hr;
      font-size: $font-size-up-standart-text;
      margin-left: 28px;
      width: 70px;
    }
    &-footer {
      max-width: 1172px;
      width: 100%;
      height: 154px;
      margin: 0 auto 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-soc {
      margin-top: 27.5px;
      width: 270px;
      height: 25px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-soc-link {
      width: 25px;
      height: 25px;
    }
    &-soc-icon {
      width: 25px;
      height: 25px;
      color: $color-footer-text;
    }
    &-footer-logo{
      width: 169px;
      height: 59px;
      margin-top: 27.5px;
    }
    &-footer-logo-img{
      width: 169px;
      height: 59px;
    }
  }
}