.plans {
    min-width: 375px;
    width: 100%;
    height: 400px;
    padding: 20px;
    &-section {
        min-width: 235px;
        width: 100%;
        height: 350px;
    }
    &-page-title {
        font-size: 32px;
        font-family: $font-text;
        letter-spacing: 2px;
        margin: 0 0 20px;
        text-align: center;
    }
    &-slider { 
        height: 350px; 
    }
    &-slider-elements {
        width: 235px;
        height: 100%; 
        margin: 0 20px 0 0;
        border-radius: 5px;
        cursor: pointer;
        background-color: $color-up-gradient;
    }
    &-slider-elements:hover{
        height: 270px; 
    }
    .plans-slider-elements:hover .plans-sub-title{
        padding-top: 15px;
        margin: 0 0 15px 0;
    }
    .plans-slider-elements:hover .plans-active{
        line-height: 29px;
    }
    .plans-slider-elements:hover .plans-no-active{
        line-height: 29px;
    }
    &-sub-title {
        padding-top: 10px;
        font-size: $font-size-small-midlle-text;
        font-family: $font-text;
        letter-spacing: 2px;
        width: 235px; 
        text-align: center; 
        margin: 0 0 10px 0;
    }
    &-area-text { 
        width: 195px;
        margin: 0 auto;    
    }
    &-active {
        width: 195px;
        font-size: $font-size-button-and-standart-text;
        font-family: $font-text;
        letter-spacing: 2px;
        color: $color-standart-text;
        line-height: 24px;
        border-top: 1.5px solid $color-plans-border-top;
    }
    &-active-image {
        font-size: $font-size-button-and-standart-text;
        color: $color-button-hr;
        margin: 0 10px 0 0;
    }
    &-no-active {
        display: flex;
        align-items: center;
        width: 195px;
        font-size: $font-size-button-and-standart-text;
        font-family: $font-text;
        letter-spacing: 2px;
        color: $color-plans-no-active;
        line-height: 24px;
        border-top: 1.5px solid $color-plans-border-top;
    }
    &-no-active-image {
        width: 12px;
        height: 12px;
        margin: 0 10px 0 0;
    }
    &-btn {
        width: 235px;
        height: 40px; 
        border-radius: 20px;
        border: 1.5px solid $color-button-hr;
        color: $color-button-hr;
        margin: 10px 0 0 0;
    }
}
.pro-bg {
    width: 235px;
    background: rgb(55,209,213);
    background: linear-gradient(90deg, rgba(55,209,213,1) 35%, rgba(1,255,0,1) 60%);
}
.pro {
    color: $color-up-gradient;
}
.pro-btn{
    background-color: $color-up-gradient;
}
@media (min-width: $screen-desktop){
    .plans {
        min-width: 0;
        max-width: 1440px;
        width: 100%;
        height: 750px;
        padding: 0 20px;
        margin-bottom: 50px;
        margin: 0 auto;
        margin-top: -400px;
        &-section {
            max-width: 1440px;
            width: 100%;
            height: 655px;
        }
        &-page-title {
            font-size: $font-size-up-midlle-text;
            line-height: 54px;
            letter-spacing: 2px;
            margin: 70px 0;
        }
        &-slider { 
            width: 100%;
            height: 571px; 
        }
        &-slider-elements {
            height: 571px; 
            width: 331px;
            padding: 0 50px;
        }
        &-slider-elements:hover{
            height: 571px; 
        }
        .plans-slider-elements:hover .plans-sub-title{
            padding-top: 15px;
            margin: 47px 0;
        }
        .plans-slider-elements:hover .plans-active{
            line-height: 29px;
        }
        .plans-slider-elements:hover .plans-no-active{
            line-height: 29px;
        }
        &-sub-title {
            padding-top: 10px;
            font-size: $font-size-up-standart-text;
            line-height: 24px;
            letter-spacing: 2px;
            width: 235px; 
            margin: 42px 0;
        }
        &-area-text { 
            width: 231px;
            margin: 0;    
        }
        &-active {
            width: 231px;
            font-size: $font-size-button-and-standart-text;
            letter-spacing: 2px;
            line-height: 24px;
        }
        &-active-image {
            font-size: 35px;
            margin: 10px 10px 10px 0;
        }
        &-no-active {
            display: flex;
            width: 231px;
            font-size: $font-size-button-and-standart-text;
            letter-spacing: 2px;
            line-height: 24px;
        }
        &-no-active-image {
            width: 35px;
            height: 35px;
            margin: 10px 10px 10px 0;
        }
        &-btn {
            width: 231px;
            height: 40px; 
            margin: 51px auto 37px auto;
        }
    }
    .pro-bg {
        width: 331px;
    }
}