//COLORS
$color-up-gradient: #ffffff;
$color-button-hr: #22BF95;
$color-text: black;
$color-footer-text: #7F7F7F;
$color-footer-border: #B2B2B2;
$color-plans-no-active: #E5E5E5;
$color-plans-border-top: #F2F2F2;

//FONTS
$font-nav: 'Acme', sans-serif;
$font-sub-title: 'Actor', sans-serif;
$font-text: 'Aclonica', sans-serif;
