.what {
    min-width: 375px;
    height: 100%;
    padding: 0 20px;
    &__section {
        display: flex;
        flex-direction: column;
        min-width: 335px;
        width: 100%;
        height: 100%;
    }
    &__image{
        min-width: 335px;
        width: 100%;
        height: 100%;
    }
    &__area {
        min-width: 335px;
        width: 100%;
        height: 100%;
    }
    &__sub-title {
        min-width: 335px;
        width: 100%;
        height: 100%;
        font-size: 32px;
        font-family: $font-text;
        margin-top: 20px;
    }
    &__text {
        min-width: 335px;
        width: 100%;
        height: 100%;
        font-size: 12px;
        font-family: $font-text;
        line-height: 24px;
        letter-spacing: 2px;
        margin: 20px 0 20px;
    }
    &__area-btn {
        display: flex;
        flex-direction: column;
        min-width: 335px;
        width: 100%;
        height: 100%;
    }
    &__btn-one {
        min-width: 335px;
        width: 100%;
        height: 40px;
        font-size: 12px;
        font-family: $font-nav;
        border-radius: 20px;
        color: $color-button-hr;
        border: 1.5px solid $color-button-hr;

    }
    &__btn-two {
        min-width: 335px;
        width: 100%;
        height: 40px;
        font-size: 12px;
        font-family: $font-nav;
        border-radius: 20px;
        background-color: $color-button-hr;
        color: $color-up-gradient;
        border: 1.5px solid $color-button-hr;
        margin: 20px 0 20px;
    }
}
@media (min-width: 768px){
    .what {
        max-width: 1440px;
        height: 100%;
        padding: 0 20px;
        margin: 0 auto;
        &__section {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-width: 1170px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
        }
        &__image{
            max-width: 600px;
            width: 100%;
            height: 100%;
        }
        &__area {
            max-width: 470px;
            width: 100%;
            height: 100%;
        }
        &__sub-title {
            max-width: 470px;
            width: 100%;
            height: 100%;
            font-size: 32px;
            margin-top: 20px;
        }
        &__text {
            max-width: 470px;
            width: 100%;
            height: 100%;
            font-size: 12px;
            line-height: 24px;
            letter-spacing: 2px;
            margin: 43px 0 100px;
        }
        &__area-btn {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            max-width: 470px;
            width: 100%;
            height: 100%;
        }
        &__btn-one {
            min-width: 0;
            max-width: 200px;
            height: 40px;
            font-size: 12px;
        }
        &__btn-two {
            min-width: 0;
            max-width: 200px; 
            height: 40px;
            font-size: 12px;
            margin: 0;
        }
    }
}