* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
button {
  background-color: transparent;
  border: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

a,
p,
h1,
li{
  font-weight: 400;
}

a,
p,
li{
  font-family: $font-standart-text;
}

h1{
  font-family: $font-sub-title;
}

input:active,
:hover {
  outline: 0;
  outline-offset: 0;
}

.not-show{
  display: none;
}

.all-page-logo{
  width: 110px;
  height: 18px;
  margin: 10px auto 24px;
}
@media (min-width: $screen-desktop-large){
  .all-page-logo{
    width: 272px;
    height: 32px;
  }
}