 .faqs {
    height: 100%;
    width: 375px;
    margin: 0 auto;
  &__area-logo{
    width: 335px;
    height: 30px;
    margin: 20px auto 50px;
    border-top: 1px solid #B2B2B2;
  }
  &__logo{
    width: 110px;
    height: 18px;
  }
&__area {
    max-width: 335px;
    width: 100%;
    margin: 0 auto;
}
&__quetions {
    max-width: 335px;
    width: 100%;
    height: 100%;
}
&__down {
    cursor: pointer;
}
 .faqs-color-icon{
color: #22BF95;
 }
&__up {
    display: none;
    cursor: pointer;
}
&__quetion {
    max-width: 335px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
&__quetion-letter {
    margin-left: 0;
    font-size: 48px;
    color: #E5E5E5; 
    font-family: 'Actor', sans-serif; 
}
&__quetion-text {
    max-width: 172px;
    width: 100%;
    margin-right: 16px;
    margin-left: 34px;
    font-size: 24px;
}

&__answer{
    max-width: 335px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    display: none;
}
&__answer-letter{
    margin-left: 0px;
    font-size: 48px;
    color: #E5E5E5;
    font-family: 'Actor', sans-serif;
}
&__answer-text{
    max-width: 172px;
    width: 100%;
    margin-right: 16px;
    margin-left: 34px;
    font-size: 24px;
}
&__more-question{
    font-size: 12px;
    color: #22BF95;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 24px;
}
}
@media (min-width: 500px){
    .faqs {
        height: 100%;
        width: 1440px;
        margin: 0 auto;
      &__area-logo{
        width: 1171px;
        height: 52px;
        margin: 20px auto 50px;
        border-top: 1px solid #B2B2B2;
      }
      &__logo{
        width: 272px;
        height: 32px;
      }
    &__area {
        max-width: 1440px;
        width: 100%;
    }
    &__quetions {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    &__down {
        cursor: pointer;
    }
     .faqs-color-icon{
    color: #22BF95;
     }
    &__up {
        display: none;
        cursor: pointer;
    }
    &__quetion {
        max-width: 1440px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    &__quetion-letter {
        margin-left: 104px;
        font-size: 110px;
        color: #E5E5E5;  
        font-family: 'Actor', sans-serif;
    }
    &__quetion-text {
        max-width: 670px;
        width: 100%;
        margin-right: 200px;
        margin-left: 100px;
        font-size: 24px;
    }
    
    &__answer{
        max-width: 1440px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        display: none;
    }
    &__answer-letter{
        margin-left: 104px;
        font-size: 110px;
        color: #E5E5E5;
        font-family: 'Actor', sans-serif;
    }
    &__answer-text{
        margin-left: 100px;
        font-size: 24px;
    }
    &__more-question{
        font-size: 12px;
        color: #22BF95;
        margin-top: 50px;
        text-align: center;
        cursor: pointer;
        margin-bottom: 100px;
    }
    }
  }