<div class="faqs" id="faqs">   
    <div class="faqs__area-logo">
      <a id="fagsLogo" class="faqs__logo-link"><img src="/assets/images/SkoutFaqs.png" alt="" class="faqs__logo"></a>
   </div>
        <div class="faqs__area">
            <div class="faqs__quetions" id="faqsQuetions">
                <ul class="faqs__quetion">
                    <li class="faqs__quetion-letter">Q</li>
                    <li class="faqs__quetion-text">What are your system requirements?</li>
                    <li class="faqs__down" id="faqsQuetionDown"><i class="fas fa-chevron-down faqs-color-icon"></i></li>
                    <li class="faqs__up" id="faqsQuetionUp"><i class="fas fa-chevron-up faqs-color-icon"></i></li>
                </ul>
                <ul class="faqs__answer"  id="faqsAnswer">
                    <li class="faqs__answer-letter">A</li>
                    <li class="faqs__answer-text">I love you 1</li>    
                </ul>
            </div>
            <div class="faqs__quetions" id="faqsQuetions">
                <ul class="faqs__quetion">
                    <li class="faqs__quetion-letter">Q</li>
                    <li class="faqs__quetion-text">Is SKOUT windows and Mac compatible?</li>
                    <li class="faqs__down" id="faqsQuetionDown"><i class="fas fa-chevron-down faqs-color-icon"></i></li>
                    <li class="faqs__up" id="faqsQuetionUp"><i class="fas fa-chevron-up faqs-color-icon"></i></li>
                </ul>
                <ul class="faqs__answer" id="faqsAnswer" >
                    <li class="faqs__answer-letter">A</li>
                    <li class="faqs__answer-text">I love you 2</li>    
                </ul>
            </div>
            <div class="faqs__quetions" id="faqsQuetions">
                <ul class="faqs__quetion">
                    <li class="faqs__quetion-letter">Q</li>
                    <li class="faqs__quetion-text">Do I need an MSP or Technology provider to get SKOUT?</li>
                    <li class="faqs__down" id="faqsQuetionDown"><i class="fas fa-chevron-down faqs-color-icon"></i></li>
                    <li class="faqs__up" id="faqsQuetionUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></li>
                </ul>
                <ul class="faqs__answer" id="faqsAnswer" >
                    <li class="faqs__answer-letter">A</li>
                    <li class="faqs__answer-text">I love you 3</li>    
                </ul>
            </div>
            <div class="faqs__quetions" id="faqsQuetions">
                <ul class="faqs__quetion">
                    <li class="faqs__quetion-letter">Q</li>
                    <li class="faqs__quetion-text">Is there a trial program?</li>
                    <li class="faqs__down" id="faqsQuetionDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></li>
                    <li class="faqs__up" id="faqsQuetionUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></li>
                </ul>
                <ul class="faqs__answer" id="faqsAnswer" >
                    <li class="faqs__answer-letter">A</li>
                    <li class="faqs__answer-text">I love you 4</li>    
                </ul>
            </div>
            <div class="faqs__quetions" id="faqsQuetions">
                <ul class="faqs__quetion">
                    <li class="faqs__quetion-letter">Q</li>
                    <li class="faqs__quetion-text">Is SKOUT windows and Mac compatible?</li>
                    <li class="faqs__down" id="faqsQuetionDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></li>
                    <li class="faqs__up" id="faqsQuetionUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></li>
                </ul>
                <ul class="faqs__answer" id="faqsAnswer" >
                    <li class="faqs__answer-letter">A</li>
                    <li class="faqs__answer-text">I love you 5</li>    
                </ul>
            </div>
            <div class="faqs__quetions" id="faqsQuetions">
                <ul class="faqs__quetion">
                    <li class="faqs__quetion-letter">Q</li>
                    <li class="faqs__quetion-text">Can I get a Demo?</li>
                    <li class="faqs__down" id="faqsQuetionDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></li>
                    <li class="faqs__up" id="faqsQuetionUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></li>
                </ul>
                <ul class="faqs__answer" id="faqsAnswer" >
                    <li class="faqs__answer-letter">A</li>
                    <li class="faqs__answer-text">I love you 6</li>    
                </ul>
            </div>
            <div class="faqs__quetions show" id="faqsQuetions">
                <ul class="faqs__quetion">
                    <li class="faqs__quetion-letter">Q</li>
                    <li class="faqs__quetion-text">Can I create my own security package?</li>
                    <li class="faqs__down" id="faqsQuetionDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></li>
                    <li class="faqs__up" id="faqsQuetionUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></li>
                </ul>
                <ul class="faqs__answer" id="faqsAnswer" >
                    <li class="faqs__answer-letter">A</li>
                    <li class="faqs__answer-text">I love you 7</li>    
                </ul>
            </div>
            <div class="faqs__quetions show" id="faqsQuetions">
                <ul class="faqs__quetion">
                    <li class="faqs__quetion-letter">Q</li>
                    <li class="faqs__quetion-text">Is SKOUT only for businesses? Or can I get SKOUT for personal use?</li>
                    <li class="faqs__down" id="faqsQuetionDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></li>
                    <li class="faqs__up" id="faqsQuetionUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></li>
                </ul>
                <ul class="faqs__answer" id="faqsAnswer" >
                    <li class="faqs__answer-letter">A</li>
                    <li class="faqs__answer-text">I love you 8</li>    
                </ul>
        </div>
    <p class="faqs__more-question" id="faqsMoreQuestion">MORE QUESTIONS</p>
</div> 