<div class="faqs" id="faqs">   
    <div class="faqs__area-logo">
      <a id="fagsLogo" class="faqs__logo-link"><img src="/assets/images/SkoutFaqs.png" alt="" class="faqs__logo"></a>
   </div>
    <div class="faqs__area">
        <div class="faqs__one" id="faqsOne">
            <div class="faqs__quetion">
                <p class="faqs__quetion-litter">Q</p>
                <p class="faqs__quetion-text">What are your system requirements?</p>
                    <p class="faqs__down" id="faqsOneDown"><i class="fas fa-chevron-down faqs-color-icon"></i></p>
                    <p class="faqs__up" id="faqsOneUp"><i class="fas fa-chevron-up faqs-color-icon"></i></p>
            </div>
            <div class="faqs__answer"  id="answerOne">
                <p class="faqs__answer-litter">A</p>
                <p class="faqs__answer-text">I love you 1</p>    
            </div>
        </div>
        <div class="faqs__one" id="faqsTwo">
            <div class="faqs__quetion">
                <p class="faqs__quetion-litter">Q</p>
                <p class="faqs__quetion-text">Is SKOUT windows and Mac compatible?</p>
                    <p class="faqs__down" id="faqsTwoDown"><i class="fas fa-chevron-down faqs-color-icon"></i></p>
                    <p class="faqs__up" id="faqsTwoUp"><i class="fas fa-chevron-up faqs-color-icon"></i></p>
                </div>
                <div class="faqs__answer" id="answerTwo" >
                    <p class="faqs__answer-litter">A</p>
                    <p class="faqs__answer-text">I love you 2</p>    
            </div>
        </div>
        <div class="faqs__one" id="faqsThree">
            <div class="faqs__quetion">
                <p class="faqs__quetion-litter">Q</p>
                <p class="faqs__quetion-text">Do I need an MSP or Technology provider to get SKOUT?</p>
                    <p class="faqs__down" id="faqsThreeDown"><i class="fas fa-chevron-down faqs-color-icon"></i></p>
                    <p class="faqs__up" id="faqsThreeUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></p>
                </div>
                <div class="faqs__answer" id="answerThree" >
                    <p class="faqs__answer-litter">A</p>
                    <p class="faqs__answer-text">I love you 3</p>    
            </div>
        </div>
        <div class="faqs__one" id="faqsFour">
            <div class="faqs__quetion">
                <p class="faqs__quetion-litter">Q</p>
                <p class="faqs__quetion-text">Is there a trial program?  </p>
                    <p class="faqs__down" id="faqsFourDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></p>
                    <p class="faqs__up" id="faqsFourUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></p>
                </div>
                <div class="faqs__answer" id="answerFour" >
                    <p class="faqs__answer-litter">A</p>
                    <p class="faqs__answer-text">I love you 4</p>    
            </div>
        </div>
        <div class="faqs__one" id="faqsFive">
            <div class="faqs__quetion">
                <p class="faqs__quetion-litter">Q</p>
                <p class="faqs__quetion-text">Is SKOUT windows and Mac compatible?</p>
                    <p class="faqs__down" id="faqsFiveDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></p>
                    <p class="faqs__up" id="faqsFiveUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></p>
                </div>
                <div class="faqs__answer" id="answerFive" >
                    <p class="faqs__answer-litter">A</p>
                    <p class="faqs__answer-text">I love you 5</p>    
            </div>
        </div>
        <div class="faqs__one" id="faqsSix">
            <div class="faqs__quetion">
                <p class="faqs__quetion-litter">Q</p>
                <p class="faqs__quetion-text">Can I get a Demo?</p>
                    <p class="faqs__down" id="faqsSixDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></p>
                    <p class="faqs__up" id="faqsSixUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></p>
                </div>
                <div class="faqs__answer" id="answerSix" >
                    <p class="faqs__answer-litter">A</p>
                    <p class="faqs__answer-text">I love you 6</p>    
            </div>
        </div>
        <div class="faqs__one shove" id="faqsSeven">
            <div class="faqs__quetion">
                <p class="faqs__quetion-litter">Q</p>
                <p class="faqs__quetion-text">Can I create my own security package? </p>
                    <p class="faqs__down" id="faqsSevenDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></p>
                    <p class="faqs__up" id="faqsSevenUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></p>
                </div>
                <div class="faqs__answer" id="answerSeven" >
                    <p class="faqs__answer-litter">A</p>
                    <p class="faqs__answer-text">I love you 7</p>    
            </div>
        </div>
        <div class="faqs__one shove" id="faqsEight">
            <div class="faqs__quetion">
                <p class="faqs__quetion-litter">Q</p>
                <p class="faqs__quetion-text">Is SKOUT only for businesses? Or can I get SKOUT for personal use?</p>
                    <p class="faqs__down" id="faqsEightDown"><i class="fas fa-chevron-down  faqs-color-icon"></i></p>
                    <p class="faqs__up" id="faqsEightUp"><i class="fas fa-chevron-up  faqs-color-icon"></i></p>
                </div>
                <div class="faqs__answer" id="answerEight" >
                    <p class="faqs__answer-litter">A</p>
                    <p class="faqs__answer-text">I love you 8</p>    
            </div>
        </div>
    </div>
    <p class="faqs__more-question" id="faqsMoreQuestion">MORE QUESTIONS</p>
</div> 