<div class="faqs" id="faqs">   
    <div class="faqs-area-logo">
      <a id="fagsLogo" class="faqs-logo-link"><img src="/assets/images/SkoutFaqs.png" alt="" class="all-page-logo"></a>
   </div>
        <div class="faqs-area">
            <div class="faqs-quetions">
                <button class="faqs-quetion accordion-element">
                    <span class="faqs-quetion-letter">Q</span>
                    <span class="faqs-quetion-text">What are your system requirements?</span>
                    <span class="faqs-down"><i class="fas fa-chevron-down faqs-color-icon"></i></span>
                    <span class="faqs-up"><i class="fas fa-chevron-up faqs-color-icon"></i></span>
                </button>
                <ul class="faqs-answer">
                    <li class="faqs-answer-letter">A</li>
                    <li class="faqs-answer-text">I love you 1</li>    
                </ul>
            </div>
            <div class="faqs-quetions">
                <button class="faqs-quetion accordion-element">
                    <span class="faqs-quetion-letter">Q</span>
                    <span class="faqs-quetion-text">Is SKOUT windows and Mac compatible?</span>
                    <span class="faqs-down"><i class="fas fa-chevron-down faqs-color-icon"></i></span>
                    <span class="faqs-up"><i class="fas fa-chevron-up faqs-color-icon"></i></span>
                </button>
                <ul class="faqs-answer">
                    <li class="faqs-answer-letter">A</li>
                    <li class="faqs-answer-text">I love you 2</li>    
                </ul>
            </div>
            <div class="faqs-quetions">
                <button class="faqs-quetion accordion-element">
                    <span class="faqs-quetion-letter">Q</span>
                    <span class="faqs-quetion-text">Do I need an MSP or Technology provider to get SKOUT?</span>
                    <span class="faqs-down"><i class="fas fa-chevron-down faqs-color-icon"></i></span>
                    <span class="faqs-up"><i class="fas fa-chevron-up  faqs-color-icon"></i></span>
                </button>
                <ul class="faqs-answer">
                    <li class="faqs-answer-letter">A</li>
                    <li class="faqs-answer-text">I love you 3</li>    
                </ul>
            </div>
            <div class="faqs-quetions">
                <button class="faqs-quetion accordion-element">
                    <span class="faqs-quetion-letter">Q</span>
                    <span class="faqs-quetion-text">Is there a trial program?</span>
                    <span class="faqs-down"><i class="fas fa-chevron-down  faqs-color-icon"></i></span>
                    <span class="faqs-up"><i class="fas fa-chevron-up  faqs-color-icon"></i></span>
                </button>
                <ul class="faqs-answer">
                    <li class="faqs-answer-letter">A</li>
                    <li class="faqs-answer-text">I love you 4</li>    
                </ul>
            </div>
            <div class="faqs-quetions">
                <button class="faqs-quetion accordion-element">
                    <span class="faqs-quetion-letter">Q</span>
                    <span class="faqs-quetion-text">Is SKOUT windows and Mac compatible?</span>
                    <span class="faqs-down"><i class="fas fa-chevron-down  faqs-color-icon"></i></span>
                    <span class="faqs-up"><i class="fas fa-chevron-up  faqs-color-icon"></i></span>
                </button>
                <ul class="faqs-answer">
                    <li class="faqs-answer-letter">A</li>
                    <li class="faqs-answer-text">I love you 5</li>    
                </ul>
            </div>
            <div class="faqs-quetions">
                <button class="faqs-quetion accordion-element">
                    <span class="faqs-quetion-letter">Q</span>
                    <span class="faqs-quetion-text">Can I get a Demo?</span>
                    <span class="faqs-down"><i class="fas fa-chevron-down  faqs-color-icon"></i></span>
                    <span class="faqs-up"><i class="fas fa-chevron-up  faqs-color-icon"></i></span>
                </button>
                <ul class="faqs-answer">
                    <li class="faqs-answer-letter">A</li>
                    <li class="faqs-answer-text">I love you 6</li>    
                </ul>
            </div>
            <div class="faqs-quetions not-show">
                <button class="faqs-quetion accordion-element">
                    <span class="faqs-quetion-letter">Q</span>
                    <span class="faqs-quetion-text">Can I create my own security package?</span>
                    <span class="faqs-down"><i class="fas fa-chevron-down  faqs-color-icon"></i></span>
                    <span class="faqs-up"><i class="fas fa-chevron-up  faqs-color-icon"></i></span>
                </button>
                <ul class="faqs-answer">
                    <li class="faqs-answer-letter">A</li>
                    <li class="faqs-answer-text">I love you 7</li>    
                </ul>
            </div>
            <div class="faqs-quetions not-show">
                <button class="faqs-quetion accordion-element">
                    <span class="faqs-quetion-letter">Q</span>
                    <span class="faqs-quetion-text">Is SKOUT only for businesses? Or can I get SKOUT for personal use?</span>
                    <span class="faqs-down"><i class="fas fa-chevron-down  faqs-color-icon"></i></span>
                    <span class="faqs-up"><i class="fas fa-chevron-up  faqs-color-icon"></i></span>
                </button>
                <ul class="faqs-answer">
                    <li class="faqs-answer-letter">A</li>
                    <li class="faqs-answer-text">I love you 8</li>    
                </ul>
        </div>
    <p class="faqs-more-question" id="faqsMoreQuestion">MORE QUESTIONS</p>
</div> 