<footer class="footer">
    <div class="footer-section">
        <ul class="footer-left">
            <li class="footer-lef-li"><a href="#" class="footer-left-link">Blog</a></li>
            <li class="footer-lef-li"><a href="#" class="footer-left-link">Company</a></li>
            <li class="footer-lef-li"><a href="#" class="footer-left-link">Terms & Conditions</a></li>
            <li class="footer-lef-li"><a href="#" class="footer-left-link">Privacy Policy</a></li>
            <li class="footer-lef-li"><a href="#" class="footer-left-link">Careers</a></li>
            <li class="footer-lef-li"><a href="#" class="footer-left-link">Call the SOC</a></li>
            <li class="footer-lef-li-phone"><a href="tel:+1-855-838-4500"  class="footer-left-link-phone">1-855-838-4500</a></li>
        </ul>
        <div class="footer-right">
            <ul class="footer-right-one">
                <li class="footer-right-city">New York</li>
                <li class="footer-right-phone"><a href="tel:+1631-203-6600"  class="footer-right-link-phone">+1 631-203-6600</a></li>
                <li class="footer-right-address">423 W 55th St. 7th Floor
                    New York, NY, 10019</li>
                <li class="footer-right-map"><button class="footer-right-map-link">View Map</button></li>
            </ul>
            <ul class="footer-right-two">
                <li class="footer-right-city">Corporate<br>Headquarters</li>
                <li class="footer-right-phone"><a href="tel:+1631-203-6600"  class="footer-right-link-phone">+1 631-203-6600</a></li>
                <li class="footer-right-address">270 S. Service Road, Suite 55
                    Melville, NY, 11747</li>
                <li class="footer-right-map"><button class="footer-right-map-link">View Map</button></li>
            </ul>
            <ul class="footer-right-three">
                <li class="footer-right-city">EMEA </li>
                <li class="footer-right-phone"><a href="tel:+353-1-6600800"  class="footer-right-link-phone">+353-1-6600800</a></li>
                <li class="footer-right-address">IDA Business and Technology Park, Mountrath Road, Unit 2
                    Portlaoise, Ireland</li>
                <li class="footer-right-map"><button class="footer-right-map-link">View Map</button></li>
            </ul>
        </div>
    </div>
    <div class="footer-footer">
        <div  class="footer-soc">
          <a class="footer-soc-link" href="#"><i class="fab fa-twitter footer-soc-icon"></i></a> 
          <a class="footer-soc-link" href="#"><i class="fab fa-facebook-square footer-soc-icon"></i></a> 
          <a class="footer-soc-link" href="#"><i class="fab fa-youtube footer-soc-icon"></i></a>
          <a class="footer-soc-link" href="#"><i class="fab fa-linkedin footer-soc-icon"></i></a>
        </div> 
        <a href="#" class="footer-footer-logo"><img class="footer-footer-logo-img" src="/assets/images/logo-footer.png" alt=""></a>
    </div>
</footer>