<div class="header" id="header">
    <a href="#" class="header-logo"><img class="header-logo-img" src="/assets/images/logo.png" alt="Logo"></a>
    <div class="header-icon-mobile">
        <i class="fas fa-bars header-menu" id="headerMenu"></i>
        <i class="fas fa-times header-X" id="headerX"></i>
    </div>
    <ul class="header-nav" id="headerNav">
        <li class="header-nav-around"><a href="#" class="header-nav-link">WHY SKOUT</a></li>
        <li class="header-nav-around"><a href="#" class="header-nav-link">PRODUCTS</a></li>
        <li class="header-nav-around"><a href="#" class="header-nav-link">PARTNERS</a></li>
        <li class="header-nav-around"><a href="#" class="header-nav-link">COMPANY</a></li>
        <li class="header-nav-around"><a href="#" class="header-nav-link">TIPS&TOOLS</a></li>
        <li class="header-nav-around"><a href="#" class="header-nav-link">BLOG</a></li>
    </ul>
    <div class="header-btn" id="headerBtn">
        <button class="header-btn-1" id="headerBtnOne">GET SKOUT</button>
        <button class="header-btn-2" id="headerBtnTwo">LOG IN</button>
    </div>
</div>