<div class="header">
    <div class="header__section">
            <div class="header__section-text">
                    <a href="#" class="header__logo"><img class="header__logo-img" src="/assets/images/logo.png" alt="Logo"></a>
                    <div class="header__icon-mobile">
                        <i class="fas fa-bars header__menu" id="headerMenu"></i>
                        <i class="fas fa-times header__X" id="headerX"></i>
                    </div>
                    <ul class="header__nav" id="headerNav">
                        <li class="header__nav-around"><a href="#" class="header__nav-link">WHY SKOUT</a><hr></li>
                        <li class="header__nav-around"><a href="#" class="header__nav-link">PRODUCTS</a><hr></li>
                        <li class="header__nav-around"><a href="#" class="header__nav-link">PARTNERS</a><hr></li>
                        <li class="header__nav-around"><a href="#" class="header__nav-link">COMPANY</a><hr></li>
                        <li class="header__nav-around"><a href="#" class="header__nav-link">TIPS&TOOLS</a><hr></li>
                        <li class="header__nav-around"><a href="#" class="header__nav-link">BLOG</a><hr></li>
                    </ul>
                    <div class="header__btn" id="headerBtn">
                        <button class="header__btn-1" id="headerBtnOne">GET SKOUT</button>
                        <button class="header__btn-2" id="headerBtnTwo">LOG IN</button>
                    </div>
            </div>
        <h1 class="header__title">TIPS & TOOLS</h1>
    </div>
</div>