<div class="slider">   
   <div class="slider__area-logo">
      <a id="sliderLogo" class="slider__logo-link"><img src="/assets/images/SkoutGlossary.png" alt="" class="slider__logo" ></a>
   </div>
   <div class="slider__section">
            <div class="slider__left">
                <div class="slider__left-one" id="sliderLeftOne">
                   <div class="slider__dots">
                       <div class="hover-dot"></div><p class="slider__left-text-link" id="dotOne">Botnet</p>
                    </div>
                   <div class="slider__dots">
                       <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotTwo">Breach</p>
                    </div>
                    <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotThree">Cloud</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotFour">DDoS</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotFive">Domain</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotSix">Endpoint</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotSeven">Exploit</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotEight">Firewall</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotNine">IP Address</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotTen">Malware</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotEleven">Penetration Test</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotTwelve">Phishing/Spearphishing</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotThirteen">hg</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotFourteen">Ransomware</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotFifteen">Session Hijacking</p>
                     </div>
                     <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotSixteen">Social Engineering</p>
                     </div>
                </div>
                <div class="slider__left-two" id="sliderLeftTwo">
                    <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotSeventeen">Software</p>
                    </div>
                    <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotEighteen">Soc</p>
                    </div>
                    <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotNineteen">Trojan Hase</p>
                    </div>
                    <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotTwenty">VPN</p>
                    </div>
                    <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotTwentyOne">Virus</p>
                    </div>
                    <div class="slider__dots">
                        <div  class="hover-dot"></div><p class="slider__left-text-link" id="dotTwentyTwo">Worm</p>
                    </div>
                </div>
                <div class="slider__nav">
                    <p class="slider__nav-righr" id="navRight"><i class="fas fa-arrow-right border-arrow"></i></p>
                    <p class="slider__nav-left" id="navLeft"><i class="fas fa-arrow-left border-arrow"></i></p>
                </div>
            </div>
            <div class="slider__right">
                <p class="slider__right-title" id="rightTitle">Hello</p>
                <div class="slider__right-text-area">
                    <div class="slider__right-text-border"></div>
                    <p class="slider__right-text" id="rightText">I love you</p>
                </div>
            </div>
   </div>
</div> 
