<div class="slider">   
   <div class="slider-area-logo">
      <a id="sliderLogo" class="slider-logo-link"><img src="/assets/images/SkoutGlossary.png" alt="" class="all-page-logo" ></a>
   </div>
   <div class="slider-section">
         <div class="slider-left" id="sliderLeft">
            <div class="slider-dots">
                <p class="slider-left-text-link">Botnet</p>
            </div>
            <div class="slider-dots">
                <p class="slider-left-text-link">Breach</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Cloud</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">DDoS</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Domain</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Endpoint</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Exploit</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Firewall</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">IP Address</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Malware</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Penetration Test</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Phishing/Spearphishing</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">hg</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Ransomware</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Session Hijacking</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Social Engineering</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Software</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Soc</p>
            </div>
            <div class="slider_-ots">
                 <p class="slider-left-text-link">Trojan Hase</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">VPN</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Virus</p>
            </div>
            <div class="slider-dots">
                 <p class="slider-left-text-link">Worm</p>
            </div>
         </div>
         <div class="slider-right">
            <p class="slider-right-title" id="rightTitle">Hello</p>
            <div class="slider-right-text-area">
               <p class="slider-right-text" id="rightText">I love you</p>  
            </div>
         </div>
      <div class="slider-nav">
         <p class="slider-nav-righr" id="navRight"><i class="fas fa-arrow-right border-arrow"></i></p>
         <p class="slider-nav-left" id="navLeft"><i class="fas fa-arrow-left border-arrow"></i></p>
      </div>
   </div>
   </div>
</div> 
