<div class="tips" id="tips">  
    <div class="tips-section">
     <div class="tips-area-logo">
        <a id="tipsLogo" class="tips__logo-link"><img src="/assets/images/SkoutTips.png" alt="" class="all-page-logo" ></a>
     </div>  
     <button class="tips-first">
        <p class="tips-first-one-letter">1</p>
        <p class="tips-first-text">System Patching</p>
        <div class="tips-area-icon-plus">
            <p class="tips-icon-plus">+</p>
        </div>
     </button>
     <button class="tips-second">
        <div class="tips-second-left">
            <p class="tips-second-left-title">System Patching</p>
            <i class="fab fa-500px tips-second-left-icon"></i>
        </div>
        <div class="tips-second-right">
            <div class="tips-area-icon-minus">
                <p class="tips-icon-minus">-</p>
            </div>
            <p class="tips-second-right-first-text">There’s nothing hackers love more than a dismissed update reminder. We keep our team’s computers in shape and up to date so that they aren’t subject to attacks that could otherwise be avoided.</p>
            <p class="tips-second-right-second-text">Not properly updating your systems makes you an easy to reach target and hackers will often go after the lowest hanging fruit. When it comes to maintaining a strong cybersecurity network the best thing a user can do is to prevent problems before they occur, and the easiest way to do that is by making sure that all systems are updated and updated regularly. </p>
            <div class="tips-second-right-i-area">
                <img src="/assets/images/icon-i.png" alt="" class="tips__second-right-i">
                <p class="tips-second-right-i-text">Based on the 2018 Verizon Data Breach Report</p>
            </div>
        </div>
    </button>
    <!-- 2 -->
    <button class="tips-first">
        <p class="tips-first-one-letter">2</p>
        <p class="tips-first-text">End-to-End Protection</p>
        <div class="tips-area-icon-plus">
            <p class="tips-icon-plus">+</p>
        </div>
     </button>
     <button class="tips-second">
        <div class="tips-second-left">
            <p class="tips-second-left-title">End-to-End Protection</p>
            <i class="fab fa-angellist tips-second-left-icon"></i>
        </div>
        <div class="tips-second-right">
            <div class="tips-area-icon-minus">
                <p class="tips-icon-minus">-</p>
            </div>
            <p class="tips-second-right-first-text">There’s nothing hackers love more than a dismissed update reminder. We keep our team’s computers in shape and up to date so that they aren’t subject to attacks that could otherwise be avoided.</p>
            <p class="tips-second-right-second-text">Not properly updating your systems makes you an easy to reach target and hackers will often go after the lowest hanging fruit. When it comes to maintaining a strong cybersecurity network the best thing a user can do is to prevent problems before they occur, and the easiest way to do that is by making sure that all systems are updated and updated regularly. </p>
            <div class="tips-second-right-i-area">
                <img src="/assets/images/icon-i.png" alt="" class="tips-second-right-i">
                <p class="tips-second-right-i-text">Based on the 2018 Verizon Data Breach Report</p>
            </div>
        </div>
    </button>
    <!-- 3 -->
    <button class="tips-first">
        <p class="tips-first-one-letter">3</p>
        <p class="tips-first-text">Empowering Teams</p>
        <div class="tips-area-icon-plus">
            <p class="tips-icon-plus">+</p>
        </div>
     </button>
     <button class="tips-second">
        <div class="tips-second-left">
            <p class="tips-second-left-title">Empowering Teams</p>
            <i class="fas fa-arrows-alt tips-second-left-icon"></i>
        </div>
        <div class="tips-second-right">
            <div class="tips-area-icon-minus">
                <p class="tips-icon-minus">-</p>
            </div>
            <p class="tips-second-right-first-text">There’s nothing hackers love more than a dismissed update reminder. We keep our team’s computers in shape and up to date so that they aren’t subject to attacks that could otherwise be avoided.</p>
            <p class="tips-second-right-second-text">Not properly updating your systems makes you an easy to reach target and hackers will often go after the lowest hanging fruit. When it comes to maintaining a strong cybersecurity network the best thing a user can do is to prevent problems before they occur, and the easiest way to do that is by making sure that all systems are updated and updated regularly. </p>
            <div class="tips-second-right-i-area">
                <img src="/assets/images/icon-i.png" alt="" class="tips-second-right-i">
                <p class="tips-second-right-i-text">Based on the 2018 Verizon Data Breach Report</p>
            </div>
        </div>
    </button>
    <!-- 4 -->
    <button class="tips-first">
        <p class="tips-first-one-letter">4</p>
        <p class="tips-first-text">Secure Credentials</p>
        <div class="tips-area-icon-plus">
            <p class="tips-icon-plus">+</p>
        </div>
     </button>
     <button class="tips-second">
        <div class="tips-second-left">
            <p class="tips-second-left-title">Secure Credentials</p>
            <i class="fas fa-anchor tips-second-left-icon"></i>
        </div>
        <div class="tips-second-right">
            <div class="tips-area-icon-minus">
                <p class="tips-icon-minus">-</p>
            </div>
            <p class="tips-second-right-first-text">There’s nothing hackers love more than a dismissed update reminder. We keep our team’s computers in shape and up to date so that they aren’t subject to attacks that could otherwise be avoided.</p>
            <p class="tips-second-right-second-text">Not properly updating your systems makes you an easy to reach target and hackers will often go after the lowest hanging fruit. When it comes to maintaining a strong cybersecurity network the best thing a user can do is to prevent problems before they occur, and the easiest way to do that is by making sure that all systems are updated and updated regularly. </p>
            <div class="tips-second-right-i-area">
                <img src="/assets/images/icon-i.png" alt="" class="tips-second-right-i">
                <p class="tips-second-right-i-text">Based on the 2018 Verizon Data Breach Report</p>
            </div>
        </div>
    </button>
    </div> 
</div> 